{% extends 'base.html.twig' %}

{% block title %}Votre Profile !{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/style.css')}}">

{% endblock %}

{% block body %}

{% use "bootstrap_5_layout.html.twig" %}

{# {% if error %}
	<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %} #}

{% if app.user and app.user.isVerified == false %}


	<div class="alert alert-warning alert-dismissible" role="alert">
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		<div class="alert-message">
			<strong>Votre compte n'est pas activé</strong>,
			<a href="{{ path('resend_verif') }}">renvoyer le lien d'activation</a>
		</div>
	</div>
{% endif %}


<div class="container" id="mentions" >
{# <h1>Heureux de vous Revoir  {{informations.prenom}} !!!</h1> #}
{% if app.user and app.user.isVerified == false %}

	<div class="mb-3">
		You are logged in as
		{{ app.user.userIdentifier }},
	</div>
{% endif %}

</div>

<div class='container'>
    <div class='row mt-5'>
        <div class='col-sm-8 offset-sm-2'>
        <h1 class='justify-content-center d-flex'>Vos informations</h1>
<table class ='table table-light table-hover mt-5'>
<thead>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>télephone</th>
        <th>Adresse</th>
        <th>Code Postal</th>
        <th>Ville</th>
    </tr>
</thead>

{% if app.user and app.user.isVerified == false %}
<tbody>
    <tr>
        <td>{{informations.nom}}</td>
        <td>{{informations.prenom}}</td>
        <td>{{informations.telephone}}</td>
        <td>{{informations.adresse}}</td>
        <td>{{informations.cp}}</td>
        <td>{{informations.ville}}</td>
    </tr>
</tbody>
{% endif %}

</table>
        </div>
    </div>
</div>

{% if app.user and app.user.isVerified == false %}

<a href="{{ path('app_logout') }}" class="btn btn-link d-block justify-content-center" type="button">Se deconnecté</a>
    {% endif %}




{% endblock %}
