{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}


{% block body %}

{% use "bootstrap_5_layout.html.twig" %}

  {% if error %}
      <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}

{% if app.user and app.user.isVerified == false %}

       <div class="mb-3">
          You are logged in as {{ app.user.userIdentifier }}, 
        </div>
   {% endif %}
 
{% block main %} 
<main class="main-content ">
<h1>
	<script langage="JavaScript1.2">
		var message = "The District" //
var neonbasecolor = "#8fe9e57c;" // couleur de base du texte
var neontextcolor = "#9ac74762"
var neontextcolor2 = "#610606"
var flashspeed = 200 // vitesse du flashing en millisecondes
var flashingletters = 3 // nombre de lettres qui flashent en neontextcolor
var flashingletters2 = 1 // nombre de lettres qui flashent en neontextcolor2 (0 pour désactiver)
var flashpause = 0
// pause entre les cycles de flashing en millisecondes
// /Ne rien toucher sous cette ligne///
var n = 0
if (document.all || document.getElementById) {
document.write('<font color="' + neonbasecolor + '">')
for (m = 0; m < message.length; m ++) 
document.write('<span id="neonlight' + m + '">' + message.charAt(m) + '</span>')



document.write('</font>')
} else 
document.write(message)





function crossref(number) {
var crossobj = document.all ? eval("document.all.neonlight" + number) : document.getElementById("neonlight" + number)
return crossobj
}

function neon() { // Change all letters to base color
if (n == 0) {
for (m = 0; m < message.length; m ++) 
crossref(m).style.color = neonbasecolor



}
// cycle through and change individual letters to neon color
crossref(n).style.color = neontextcolor
if (n > flashingletters - 1) 
crossref(n - flashingletters).style.color = neontextcolor2



if (n > (flashingletters + flashingletters2) - 1) 
crossref(n - flashingletters - flashingletters2).style.color = neonbasecolor



if (n < message.length - 1) 
n++
 else {
n = 0
clearInterval(flashing)
setTimeout("beginneon()", flashpause)
return
}
}

function beginneon() {
if (document.all || document.getElementById) 
flashing = setInterval("neon()", flashspeed)



}
beginneon()
	</script>
</h1>

	<form method="post">

    <div class="container body-container my-auto mx-auto">
	       <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
	
    <div class="row">
	<div class="col-sm-12 position-relative justify-content-center">
        {# <label for="inputEmail" class="label ">Email :</label>
        <input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    </div>
    <div class="form-group mb-3">
        <label for="inputPassword" class="label">Mot de passe :</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required> #}
        <label for="username">Email</label>
        <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
        <label for="password">Password</label>
        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}">

      
          {#  Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html #}

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
       

        <button class="btn btn-lg btn-primary" id="btn-form" type="submit">
            Sign in
        </button>
    </form>

<a href="{{ path('app_logout') }}">Logout</a>


    <div class="text mt-5 mb-3">
<strong>SI VOUS N'ETES PAS INSCRIT CLIQUER SUR CE BOUTON : </strong> 
 <a href="{{path ('app_register')}}" class="btn btn-link d-block justify-content-center">S'inscrire</a>
</div>
    </div>
    </div>
    </div>
    </main>
{% endblock %}
{% endblock %}
